/* File: App.css */

html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
}

.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.section {
  padding: 80px 20px;
  max-width: 960px;
  margin: auto;
  text-align: center;
}

.footer {
  background-color: #0f172a;
  color: white;
  text-align: center;
  padding: 20px;
  margin-top: auto; /* Pushes footer to bottom */
}
